* {
	padding: 0;
	margin: 0;
}

#main_div {
	width: 30%;
	height: 100vh;
	background-color: #064d82;
	margin: 0 auto;
	float: left;
	position: fixed;
}

form {
	width: 60%;
	margin: 40px auto 0 auto;
}

table {
	margin-top: 20px;
	width: 90%;
}

tr {
	display: table-header-group;
}

th {
	border: 1px solid;
}

input, select {
	padding: 0;
	width: 100%;
	height: 40px;
	margin: 10px auto 0 auto;
	border: none;

}

#list_user {
	width: 70%;
	min-height: 100vh;
	float: right;
	display: flex;
	justify-content: center;
}

#list_only_user {
	width: 70%;
	min-height: 100vh;
	float: right;
	display: none;
	justify-content: center;
}

#list_only_admin {
	width: 70%;
	min-height: 100vh;
	float: right;
	display: none;
	justify-content: center;
}

#list_only_employee {
	width: 70%;
	min-height: 100vh;
	float: right;
	display: none;
	justify-content: center;
}

#list_admin_user {
	width: 70%;
	min-height: 100vh;
	float: right;
	display: none;
	justify-content: center;
}

#carrier_flight {
	width: 70%;
	min-height: 100vh;
	float: right;
	display: none;
	justify-content: center;
}

#ticket_passenger {
	width: 70%;
	min-height: 100vh;
	float: right;
	display: none;
	justify-content: center;
}

#ticket_brand {
	width: 70%;
	min-height: 100vh;
	float: right;
	display: none;
	justify-content: center;
}

#avg_ticket {
	width: 70%;
	min-height: 100vh;
	float: right;
	display: none;
	justify-content: center;
}

